html, body{
    margin: 0;
    padding: 0;
}

/* Proxima Nova Alternative Font */
@font-face {
    font-family: "Metropolis-regular";
    src: url(../metropolis/Metropolis-Regular.otf);
}
@font-face {
    font-family: "Metropolis-bold";
    src: url(../metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: "Metropolis-thin";
    src: url(../metropolis/Metropolis-Thin.otf);
}

/* Home Page CSS */

a {
    font-family: Metropolis-regular;
    font-size: 15px;
    text-decoration: none;
}
#navbar {
    position: fixed;
    height: 64px;
    width: 100%;
    z-index: 5;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#brand {
    margin-left: 50px;
    margin-right: 35px;
}
.nav-links {
    margin-right: 40%;
    width: 170px;
    min-width: 170px;
    display: flex;
    justify-content: space-between;
}
#get-started {
    display: flex;
    width: 130px;
    min-width: 130px;
    height: 40px;
    background-color: #a32d09;
    border: 1px solid #A32D09;
    border-radius: 32px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.link-texts {
    color: #000;
}
.hero {
    position: relative;
    height: 820px;
}
#hero-img {
    position: absolute;
    width: 1440px;
    max-width: 100%;
    height: 820px;
    object-fit: cover;
}
.hero-align {
    display: flex;
}
.hero-box {
    position: absolute;
    top: 190px;
    left: 150px;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 380px;
    background: rgba(28, 52, 84, 0.8);
}
#hero-title {
    font-family: Metropolis-bold;
    font-size: 44px;
    line-height: 70px;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0px 4px 4px #1C3454;
}
#hero-description {
    font-family: Metropolis-bold;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-shadow: 0px 4px 4px #1C3454;
}
.hero-button {
    position: absolute;
    top: 650px;
    left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    min-width: 226px;
    height: 52px;
    border-radius: 32px;
    background-color: #a32d09;
    border: 1px solid #A32D09;
    color: #fff;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    font-family: Metropolis-regular;
    font-size: 16px;
    text-decoration: none;
}
.frame {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 500px;
}
.frame-left-title {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 150px;
    font-family: Metropolis-bold;
    font-size: 48px;
    color: #1C3454;
}
.frame-center-title {
    position: relative;
    top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Metropolis-bold;
    font-size: 48px;
    color: #1C3454;
}
.collective-box {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 42px;
}
.box {
    position: relative;
    background: #E1930F;
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.box .imgBox img {
    max-width: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.box .content h2 {
    font-family: Metropolis-bold;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}
.box .content h2 span {
    font-family: Metropolis-regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}
.box .content {
    position: absolute;
    width: 360px;
    height: 115px;
    bottom: 0;
    background: #E1930F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    z-index: -1;
}
.services-img {
    display: flex;
    justify-content: center;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#services-img-position {
    margin-top: 75px;
}
#success-text {
    margin-top: 90px;
    font-family: Metropolis-regular;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
.sns-frame {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sns-title {
    font-family: Metropolis-regular;
    font-style: italic;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0;
}
.sns-imgs {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sns-scale {
    transform: scale(0.35);
}
.questions-frame {
    height: 200px;
    width: 100%;
    background: #E1930F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.questions-title {
    font-family: Metropolis-bold;
    font-size: 36px;
    color: #fff;
}
.questions-box {
    font-family: Metropolis-regular;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 52px;
    border-radius: 32px;
    background: #fff;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}
.footer-frame {
    height: 264px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.footer-left {
    min-width: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-center {
    min-width: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-sns-box {
    min-width: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-sns {
    margin-right: 10px;
}
.footer-text {
    font-family: Metropolis-regular;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    margin: 10px;
}
.footer-links {
    font-family: Metropolis-bold;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

/* Action Page */
.frame-action {
    height: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.action-left {
    width: 480px;
    z-index: 1;
    height: 100%;
    background: #1C3454;
}
.action-center {
    position: absolute;
    left: 5%;
    top: 13%;
    min-width: 300px;
    max-width: 32%;
    max-height: 800px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 2;
    background: #E1930F;
}
.action-center-title {
    font-family: Metropolis-bold;
    font-size: 26px;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}
.action-center-subtitle {
    font-family: Metropolis-bold;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}
.action-center-text {
    font-family: Metropolis-regular;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}
.action-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action-right-title {
    min-width: 500px;
    max-width: 600px;
    margin-top: 13%;
    margin-left: 5%;
    margin-bottom: 5px;
    font-family: Metropolis-bold;
    font-size: 48px;
    color: #000;
}
.action-right-description {
    min-width: 500px;
    max-width: 600px;
    margin-left: 8%;
    font-family: Metropolis-thin;
    font-size: 14px;
    color: #000;
}
.action-right-text {
    min-width: 140px;
    max-width: 500px;
    margin-left: 18px;
    font-family: Metropolis-regular;
    font-size: 18px;
    color: #000;
}
.action-grey-box {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #C4C4C4;
}
#check-mark-icon-1, #check-mark-icon-2, #check-mark-icon-3 {
    position: absolute;
    width: 25px;
    height: 25px;
}
.actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}
.action-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.action-1-buttons {
    margin-left: 60px;
    margin-bottom: 30px;
}
.buttons-decoration-1 {
    height: 40px;
    width: 180px;
    font-family: Metropolis-regular;
    font-size: 14px;
    color: #fff;
    background: #1C3454;
    appearance: none;
    border: 0;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
.action-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.action-2-buttons {
    margin-left: 60px;
}
.buttons-decoration-2 {
    height: 40px;
    width: 175px;
    font-family: Metropolis-regular;
    font-size: 14px;
    color: #fff;
    background: #1C3454;
    appearance: none;
    border: 0;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}
#buttons-full-package {
    height: 40px;
    margin-left: 10%;
    margin-top: 10px;
    font-family: Metropolis-regular;
    font-size: 15px;
    color: #fff;
    background: #1C3454;
    appearance: none;
    border: 0;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 30px;
}
.action-3 {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.action-contacts {
    display: flex;
    flex-direction: column;
}
.action-input {
    height: 40px;
    width: 600px;
    margin-left: 17%;
    margin-bottom: 12px;
    background: #fff;
    border: 1px solid #646464;
    box-sizing: border-box;
    border-radius: 6px;
}
.privacy-policy {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
}
.privacy-policy input {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8px;
    height: 18px;
    width: 18px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
#checkbox-toggle {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 1px solid #A32D09;
    border-radius: 50px;
}
#checkmark {
    position: absolute;
    margin-left: 7px;
    margin-bottom: 1px;
    width: 3px;
    height: 7px;
    border: solid #A32D09;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}
#privacy-text {
    font-family: Metropolis-regular;
    font-size: 15px;
    color: #000;
}
.submit-div {
    margin-top: 10px;
    width: 400px;
}
#submit {
    height: 40px;
    width: 130px;
    font-family: Metropolis-regular;
    font-size: 15px;
    color: #fff;
    background: #a32d09;
    appearance: none;
    border: 0;
    border-radius: 32px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}


/* CSS Features and Animations */
.link-texts:hover {
    color: #1C3454;
}
#get-started:hover {
    background: #fff;
    color: #a32d09;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}
.hero-button:hover {
    background: #fff;
    color: #a32d09;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

/* Benefits Boxes */

.box:hover {
    box-shadow: 0px 0px 10px 3px #A1B5D0;
    animation: moveUp 0.12s ease-in-out 0s forwards;
}
.box:hover .content {
    opacity: 1;
    box-shadow: 0px 0px 10px 3px #A1B5D0;
    animation: moveDown 0.12s ease-in-out 0s forwards;
}
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-56px);
    }
}
@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(115px);
    }
}

/* Carousel */
#carousel, .carousel-image {
    width: 500px;
    height: 500px;
    object-fit: fill;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
#carousel {
    position: relative;
    overflow: hidden;
}
#carousel-image-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
.carousel-image img {
    height: 100%;
    width: auto;
}
.hidden {
    visibility: hidden;
}
#carousel-controls {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    opacity: 0.6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
#previous-button, #next-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.questions-box:hover {
    color: #fff;
    font-family: Metropolis-bold;
    background: #1C3454;
}

/* Call to Action and Contact Information */
.buttons-decoration-1:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
} 
.buttons-decoration-2:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
} 
#buttons-full-package:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}
#submit:hover {
    color: #a32d09;
    background: #fff;
    border: 1px solid #A32D09;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}
JAVASCRIPIT .privacy-policy input ~ #checkbox-toggle {
    background: #a32d09;
}
